%h1 About This Application
%h3
	%p This is a Wikipedia-type app to demonstrate Ruby on Rails and some tools that go with it.

%h3
	%p Features include collaboration, privacy, and paid settings.

%h3
	%p Some tools used include:
%li Haml, JQuery, Sass, and Coffee for presentation;
%li Rspec, Capybara, and Factory Girl for testing;
%li Stripe for payments;
%li Sqlite (dev) and PostgreSql (production) for database management.
%br

%p It was built by Michelle Bonat.
