%h1 All Your Wikis

%h2 All the Wikis You Own

%ul
  - @wikis.each do |wiki|
    %li= link_to wiki.title, wiki
/   %li= link_to 'Update', wikis_update_path
/ OR
/= render 'wiki_list', wikis: @wikis
/ OR
/%ul
/  - @wikis.each do |wiki|
/    %li= link_to wiki.title, wiki
/    %li= link_to 'Update', wikis_update_path(@wiki)

/ - if current_user.owns?(@wiki)
/   = link_to "Add Collaborators", users_collaborated_wikis_path(@wiki)

/  - if current_user.can_update?(@wiki)
/    = link_to "New", wikis_new_path(@wiki)

%h2 Wikis On Which You Have Collaborated

%ul
  - @collaborations.each do |wiki|
    %li= link_to wiki.title, wiki


/%ul
/  - @collaborations.each do |wiki|
/    %li= link_to wiki.title, wiki

/  - if current_user.can_update?(@wiki)
/    = link_to "Edit", wikis_update_path(@wiki)

= link_to "New", new_wiki_path