%h1 <strong>Your Pages</strong>

%h2 Pages You Own

%ul
  - @wikis.each do |wiki|
    %li= link_to wiki.title, wiki

%h2 Pages On Which You Have Collaborated

%ul
  - @wikis_i_am_collaborating_on.each do |wiki|
    %li= link_to wiki.title, wiki

= link_to "Create New Wiki", new_wiki_path, :class => 'button-secondary'


